*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,body{
  width: 100%;
  height: 100%;
  background-color: #111;
  color: #ffff;
}
.box{
  height: 200px;
  width: 200px;
  border: 2px solid white;
  background-color: crimson;
}


.circle{
  height: 200px;
  width: 200px;
  background-color: lightblue;
  border-radius: 50%;
  border: 2px solid #fff;
}