<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Document</title>
</head>
<body>
    <div class="main w-full text-white min-h-screen bg-zinc-900">
        <div class="form p-10 ">
            <form action="">
                <input type="text" class="bg-zinc-800  w-full rounded-xl outline-none block px-5 py-2" placeholder="Title gose">
                <textarea class="bg-zinc-800 mt-2 w-full rounded-xl outline-none resize-none block px-5 py-2" placeholder="write here ...."></textarea>
                <input type="submit" class="mt-2 bg-blue-500 p-2 rounded-lg transition-transform duration-300 hover:scale-110 hover:bg-blue-400" value="create Task">
            </form>
        </div>
        <div class="task p-10 flex gap-4 flex-wrap">
            <%if(files.length>0){%>
                <%files.forEach((val)=>{%>
                    <div class=" task w-72 px-3 py-4 bg-zinc-800 rounded-lg">
                <h1 class="text-3xl tracking-tighter" >Some Task is here .</h1>
                <a href="" class="text-blue-400 inline-block mt-3">Read More.....</a>
                
            </div>
                    <%})%>
                <% }else{ %>
                    <h1 class="text-zinc-300">no task here </h1>
                <% } %>
            
            
        </div>
    </div>
</body>
</html>