*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,body{
  width: 100%;
  height: 100%;
}


#root{
  width: 100%;
  height: 100%;
  background-color: green;
}

.g-box{
  border: 2px;
  padding: 10px;
  border-radius: 10px;
  display: red;
}


